h3 {
  color: black;
  
}

#description {
  text-align: center;
  padding: 25px;
  font-family: 'Orbitron', sans-serif;
}

.responsive {
  width: 25%;
  height: auto;
}

.homeBtn {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  align-content: right;
  margin-left: 295px;
}

footer {
  text-align: center;
  margin-top: 75px;
  margin-left: 15px;
  font-family: 'Orbitron', sans-serif;
}